body {
  background-size: auto;
  height: 100%;
}

.margin-message {
  margin-top: 20px;
  margin-bottom: 240px;
  width: 100%;
}

.centered-column {
  margin-top: 25%;
}

.signup-margin-message {
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-back {
  background-color: #3B7A57 !important;
  margin: 50px;
}
